#main-container {
  padding-top: 10px;
  padding-right: 15px; }

#photo-preview {
  width: 100%; }

.bsd-page-title {
  padding-bottom: 10px; }

.clickable-row {
  cursor: pointer; }

.prof-attrib {
  padding-top: 20px; }

.actions {
  padding-bottom: 10px; }

.profile-body {
  padding-top: 10px; }

.reupload {
  margin-top: 10px; }

.vspace {
  margin-top: 30px; }

.devinfo {
  background-color: #ffc3b3;
  border: #ff4141 2px solid; }

img {
  image-orientation: from-image; }

.button-row {
  align-items: center;
  margin-bottom: 10px; }
  .button-row .form-control {
    margin-left: 10px; }

#buttonid {
  margin-left: auto;
  flex-direction: row-reverse; }

.buttonid {
  margin-left: auto;
  flex-direction: row-reverse;
  margin-bottom: 10px; }

.navbar .btn {
  margin-left: 10px; }

.form-group {
  align-items: center; }
  .form-group label {
    text-align: right;
    margin-bottom: 0; }

.image-group {
  align-items: center; }

.remove-button {
  margin-top: 10px; }

.site-error {
  margin-top: 25px; }

.image-row {
  margin: 40px; }

.client-search {
  margin-right: 5px;
  margin-left: 5px; }

.pointer {
  cursor: pointer; }
